---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import ListOfBooks from "../components/ListOfBooks.astro";
import "../assets/Button.css";
---

<Layout title="Tu mejor lectura by Fer">
	<main class="m-auto max-w-4xl p-3">
		<ListOfBooks />
	</main>
</Layout>
