---
import "../assets/ButtonBuy.css";
interface Props {
  URL: string;
}

const { URL } = Astro.props;
---

<a class="fancy" href={URL} target="_blank" rel="nooperner noreferrer">
  <span class="top-key"></span>
  <span class="text">COMPRAR AHORA!</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a>
