---

---

<header
  class="dark:text-white flex justify-center items-center lg:max-w-screen-lg md:mx-auto mx-3 ml-9"
>
  <nav
    class="flex flex-row justify-around items-center gap-x-10 opacity-90 text-xs md:text-base lg:text-lg"
  >
    <h1
      class="font-black uppercase text-[12px] md:text-[29px] text-center items-start py-8"
      style="view-timeline-name: title;"
    >
      TU MEJOR
      <span
        class="finger-paint-regular absolute text-xs rotate-12 text-red-600"
      >
        [POR FER]</span
      >
      <span class="block ml-4 md:text-5xl text-xl">LECTURA</span>
    </h1>
    <a class="lg:px-2 ml-2 text-lg" href="/">Inicio</a>
    <a
      class="lg:px-2 -mx-4 text-lg"
      target="_blank"
      rel="nooperner noreferrer"
      href="https://twitter.com/Fe_Guarache">Twitter</a
    >
  </nav>
</header>
