<header class="flex justify-center items-center max-w-screen-lg mx-auto">
  <nav
    class="flex flex-row justify-around items-center gap-x-10 opacity-90 text-xs md:text-base lg:text-lg"
  >
    <h1
      class="font-black uppercase text-[18px] md:text-[29px] text-center items-start py-8"
      style="view-timeline-name: title;"
    >
      LOS MEJORES
      <span
        class="finger-paint-regular absolute text-xs rotate-12 text-red-600"
      >
        [POR FER]</span
      >
      <span class="block md:text-4xl text-3xl">LIBROS</span>
    </h1>
    <a class="px-3 ml-10" href="/">Inicio</a>
    <a class="px-3" href="https://twitter.com/Fe_Guarache">Twitter</a>
  </nav>
</header>
