<h1
  class="font-black uppercase text-[36px] md:text-[58px] text-center py-8"
  style="view-timeline-name: title;"
>
  TU MEJOR
  <span
    class="finger-paint-regular absolute md:text-4xl text-2xl rotate-12 text-red-600"
  >
    [POR <br /> FER]</span
  >
  <span class="block md:text-8xl text-6xl">LECTURA</span>
</h1>
